.app-header
  flex none
  background #fff
  padding 37px 44px 28px

  @media (max-width: 1210px)
    padding 20px

  @media (max-width: 991px)
    display none

  &__content
    display flex
    align-items center

    .app-header__left
      max-width 479px
      width 100%
      margin-right 68px
      @media (max-width: 1440px)
        margin-right 20px
        max-width 420px

      @media (max-width: 1210px)
        max-width 320px

  &__right
    flex 1

  &__right-top
    display flex
    align-items center
    justify-content space-between
    margin-bottom 45px

    @media (max-width: 1210px)
      margin-bottom 20px
      align-items flex-start
