<header block="app-header">
	<div elem="content">
		<div elem="left">
			{% include "logo-name.html" %}
		</div>
		<!-- e:left -->
		<div elem="right">
			<div elem="right-top">
				{% include "socials.html" %}
				{% include "search.html" %}
				{% include "languages.html" %}
			</div><!-- e:right-top -->
			{% include "nav.html" %}
		</div><!-- e:right -->
	</div>
</header>
<!-- b:app-header -->
