.logo-name
  display flex
  align-items center

  &__logo
    display block
    margin-right 36px
    max-width 95px
    height 113px
    width 100%

    @media (max-width 1440px)
      margin-right 15px

    @media (max-width 980px)
      max-width 55px
      height auto

    @media (max-width 570px)
      margin-right 10px
    @media (max-width 480px)
      max-width 40px

    @media (max-width 374px)
      margin-right 4px

    img
      max-width 100%

  &__text
    color #4d7dac
    font-size 34px
    font-weight 400
    line-height 40px
    text-transform uppercase

    @media (max-width 1440px)
      font-size 30px
      line-height 35px

    @media (max-width: 1210px)
      font-size 20px
      line-height 25px

    @media (max-width 570px)
      font-size 16px
      line-height 18px

    @media (max-width 430px)
      font-size 14px
      line-height 16px

    @media (max-width 374px)
      font-size 11px
      line-height 14px
      word-break break-word
