<div block="logo-name">
	<a href="#" elem="logo"> <img src="img/logo.png" alt="" /> </a
	><!-- e:logo -->
	<div elem="text">
		Псковский государственный университет
	</div>
	<!-- e:text -->
</div>
<!-- b:logo-name -->
