<div block="b-mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="logo">
                {% include "logo-name.html" %}
            </div>
            <div elem="languages">
                {% include "languages.html" %}
            </div>
            <div elem="nav">
                <button elem="btn-burger" class="js-btn-burger" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16"><path fill="#369" fill-rule="evenodd" d="M0 0h24v2H0V0zm0 7h24v2H0V7zm0 7h24v2H0v-2z"></path></svg>
                </button>
                <div elem="overlay-menu"></div>
                <div block="top-menu" mods="mobile">
					{% include "search.html" %}
                    {% include "nav.html" %}
                    {% include "socials.html" %}
                </div><!-- top-menu -->
            </div>
        </div>
    </div>
</div><!-- b-mobile-panel -->
