.b-mobile-panel
    display none
    flex none
    position fixed
    top 0
    left 0
    width 100%
    z-index 1000
    background-color #fff

    @media (max-width: 991px)
        display block


    &__section
        width 100%
        padding 0
        border-bottom 1px solid rgba(0,0,0,0.05)

    &__items
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        height: 132px;
        padding: 10px 0px 10px 10px;

        @media (max-width 480px)
          height 82px

    &__logo
        width: 100%;
        margin-right: 4px;
        flex-flow: wrap;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        @media (max-width 570px)
          margin-right 10px

    &__languages
      max-width 220px
      width 100%
      @media (max-width 570px)
        max-width 100%

    &__nav
        width: 48px;
        height: 100%;
        // padding-right: 10px;
        flex 0 0 48px

        .b-mobile-panel__btn-burger
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            background-clip: padding-box;
            margin: 0;
            font: inherit;
            color: inherit;
            cursor: default;
            user-select: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
            vertical-align: middle;
            text-decoration: none;
            font-size: 1em;
            line-height: 1.8em;
            border-radius: 4px;
            transition: opacity .2s;
            background: #ddd;
            color: #5e5e5e;
            background: transparent;
            color: #5198db;
            border: 1px solid transparent;
            background-color: transparent;
            width: 48px;
            height: 100%;
            line-height: normal;
            border-radius: 0;
            cursor: pointer;
            padding: 0;
            position: relative;

            &:focus
                outline: 0;

        .top-menu__nav
            margin-top 0

        .top-menu--mobile
            background: #efefef;
            // width 320px
            width 60%
            position absolute
            top 132px
            right auto
            transform: translate3d(110%,0,0);
            padding 30px
            z-index 101
            height 100vh
            overflow-y auto
            transition right .2s
            // box-shadow inset 0px 30px 90px 0px rgba(213,220,229,0.5)
            display block
            overflow: hidden;

            @media (max-width 570px)
              padding 30px 20px

            @media (max-width 480px)
              top 82px

            @media (max-width 430px)
              width 80%

            &.menu-is-active
                right 0
                transform: translateZ(0);
                overflow visible
                overflow-y auto

            .nav
              flex-direction column
              align-items flex-end
              margin-bottom 20px

            .socials
              justify-content flex-end
              max-width 100%

            .search
              margin-left auto
              margin-bottom 20px
              max-width 270px

    &__btn-burger
        display block
        width 25px
        height 21px
        padding 0
        // background-color #fff
        position relative
        border none
        cursor pointer

    .btn-burger-is-active
        // background-color: rgba(0,0,0,.05);
        background-color transparent

    &__overlay-menu
        display none
        position fixed
        top 132px
        // right -5000px
        width 100%
        bottom -5000px
        left 0
        background: rgba(0,0,0,.35);
        transition: opacity .3s .15s,visibility 0s linear .45s;
        transition-delay: 0s;
        z-index -1
        opacity 0
        transition opacity .3s

        @media (max-width 480px)
          top 82px

        &.overlay-is-active
            display block
            left 0
            right 0
            transition opacity .3s
            opacity 1
            z-index 100

.b-mobile-panel__nav .top-menu--mobile
    .top-menu__nav-item:last-child
        padding-left: 35px;
        box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.05) !important;

body.hat_content_open
    overflow hidden
    height: 100%;

    &::-webkit-scrollbar
        display none
