.main-links
  display flex
  align-items center
  justify-content space-around
  padding 70px 40px

  @media (max-width 768px)
    display block
    text-align center
    padding 40px

  @media (max-width 480px)
    padding 20px

  &__item
    display flex
    align-items center
    justify-content center
    background url('../img/main-button.png') 0 0 no-repeat
    background-size 100% 100%
    max-width 595px
    height 148px
    width 100%
    color #68a7dd
    font-size 27px
    font-weight 400
    line-height 43.97px
    text-transform uppercase
    transition color .3s ease, opacity .3s ease
    overflow hidden
    padding 30px
    text-align center

    @media (max-width 1024px)
      font-size 20px
      line-height 22px
      max-width 400px

    @media (max-width 980px)
      font-size 18px
      line-height 18px
      max-width 350px
      height 120px

    @media (max-width 768px)
      margin 0 auto 20px

      &:last-child
        margin-bottom 0

    @media (max-width 480px)
      font-size 16px
      line-height 16px
      max-width 300px
      height 80px

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity .8
