<div block="languages">
	<a href="#" elem="link" class="ru active">
		РУС
	</a><!-- e:link -->
	<a href="#" elem="link" class="eng">
		eng
	</a><!-- e:link -->
	<a href="#" elem="link" class="fr">
		FR
	</a><!-- e:link -->
	<a href="#" elem="link" class="ch">
		中文
	</a><!-- e:link -->
</div><!-- languages -->
