.languages
  max-width 228px
  width 100%
  height 56px
  display flex
  align-items center

  @media (max-width 570px)
    max-width 100%
    justify-content flex-end

  &__link
    position relative
    width 56px
    height 56px
    display block
    display flex
    align-items center
    justify-content center
    font-size 16px
    font-weight bold
    text-transform uppercase
    letter-spacing 0.22px
    transition background .3s ease, color .3s ease, background-size .3s ease

    @media (max-width 570px)
      width 40px
      height 40px

    @media (max-width 430px)
      width 30px
      height 30px
      font-size 11px

    &:hover,
    &:active,
    &:focus,
    &.active
      z-index 5
      text-decoration none
      color #ffffff !important

  .ru
    background url("../img/lang1.png") 0 0 no-repeat
    background-size 100% 100%
    color #dd3e89

    &:hover,
    &:active,
    &:focus,
    &.active
      background url("../img/lang1-hov.png") 0 0 no-repeat
      background-size 100% 100%

  .eng
    background url("../img/lang2.png") 0 0 no-repeat
    background-size 100% 100%
    color #aa2960

    &:hover,
    &:active,
    &:focus,
    &.active
      background url("../img/lang2-hov.png") 0 0 no-repeat
      background-size 100% 100%

  .fr
    background url("../img/lang3.png") 0 0 no-repeat
    background-size 100% 100%
    color #257daf

    &:hover,
    &:active,
    &:focus,
    &.active
      background url("../img/lang3-hov.png") 0 0 no-repeat
      background-size 100% 100%

  .ch
    background url("../img/lang4.png") 0 0 no-repeat
    background-size 100% 100%
    color #0096a3

    &:hover,
    &:active,
    &:focus,
    &.active
      background url("../img/lang4-hov.png") 0 0 no-repeat
      background-size 100% 100%
