.calendar
  margin-bottom 80px
  &__title
    display flex
    align-items center
    justify-content center
    padding 60px 20px
    color #68a7dd
    font-size 48px
    font-weight 700
    line-height normal
    text-transform uppercase
    background #fff

    @media (max-width 1366px)
      padding 20px
      text-align center

    @media (max-width 1024px)
      font-size 40px
      line-height 40px

    @media (max-width 768px)
      font-size 35px
      line-height 35px

    @media (max-width 480px)
      font-size 28px
      line-height 28px

  &__items
    position relative
    background #fff

  .owl-item.active
    .calendar__item.first
      background #ab2a61
    .calendar__item.second
      background #fff
    .calendar__item.third
      background #247eaf
    .calendar__item.fouth
      background #fff
    .calendar__item.fifth
      background #802783

  .owl-item
    .calendar__item.second,
    .calendar__item.fouth
      color #4470b3

  .owl-nav.disabled,
  .owl-nav
    position absolute
    top 50%
    margin-top -30px
    left 0
    right 0
    z-index 5
    display block

    button
      display block

    .owl-prev span,
    .owl-next span
      position absolute
      font-size 0
      transition border-color .3s ease

    .owl-prev span
      width 30px
      height 60px
      border-right solid 30px #68a7dd
      border-bottom solid 30px transparent
      border-top solid 30px transparent

      &:hover,
      &:active,
      &:focus
        border-right-color #4470b3

    .owl-next span
      right 0
      width 30px
      height 60px
      border-left solid 30px #68a7dd
      border-bottom solid 30px transparent
      border-top solid 30px transparent

      &:hover,
      &:active,
      &:focus
        border-left-color #4470b3

  &__item
    display block
    color #ffffff
    cursor pointer
    text-align center
    padding 25px

  &__month
    font-size 40px
    font-weight 400
    line-height 72px
    text-transform uppercase

    @media (max-width 768px)
      font-size 30px
      line-height 30px

  &__day
    font-size 70px
    font-weight 700
    line-height 72px

    @media (max-width 768px)
      font-size 50px
      line-height 50px

  &__text
    font-size 34px
    font-weight 400
    line-height 40px

    @media (max-width 768px)
      font-size 20px
      line-height 20px
