<div block="calendar">
	<div elem="title">
		Календарь
	</div><!-- e:title -->
	<div elem="items" class="js-calendar-items owl-carousel">
		<div elem="item" class="first">
			<div elem="month">
				Февраль
			</div><!-- e:month -->
			<div elem="day">
				02
			</div><!-- e:day -->
			<div elem="text">
				Начало <br />
				приема <br />
				документов
			</div><!-- e:text -->
		</div><!-- e:item -->
		<div elem="item" class="second">
			<div elem="month">
				Март
			</div><!-- e:month -->
			<div elem="day">
				22
			</div><!-- e:day -->
			<div elem="text">
				Очень <br />
				важное <br />
				меропритие
			</div><!-- e:text -->
		</div><!-- e:item -->
		<div elem="item" class="third">
			<div elem="month">
				Апрель
			</div><!-- e:month -->
			<div elem="day">
				03
			</div><!-- e:day -->
			<div elem="text">
				День <br />
				открытых <br />
				дверей
			</div><!-- e:text -->
		</div><!-- e:item -->
		<div elem="item" class="fouth">
			<div elem="month">
				Май
			</div><!-- e:month -->
			<div elem="day">
				17
			</div><!-- e:day -->
			<div elem="text">
				Очень <br />
				важное <br />
				меропритие
			</div><!-- e:text -->
		</div><!-- e:item -->
		<div elem="item" class="fifth">
			<div elem="month">
				Июнь
			</div><!-- e:month -->
			<div elem="day">
				01
			</div><!-- e:day -->
			<div elem="text">
				Начало <br />
				вступительных <br />
				испытаний
			</div><!-- e:text -->
		</div><!-- e:item -->
	</div><!-- e:items -->
</div><!-- calendar -->
