::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}
h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}
h1::-moz-selection, .h1::-moz-selection, h2::-moz-selection, .h2::-moz-selection, h3::-moz-selection, .h3::-moz-selection, h4::-moz-selection, .h4::-moz-selection, h5::-moz-selection, .h5::-moz-selection, h6::-moz-selection, .h6::-moz-selection, h1 *::-moz-selection, .h1 *::-moz-selection, h2 *::-moz-selection, .h2 *::-moz-selection, h3 *::-moz-selection, .h3 *::-moz-selection, h4 *::-moz-selection, .h4 *::-moz-selection, h5 *::-moz-selection, .h5 *::-moz-selection, h6 *::-moz-selection, .h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}
h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}
:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}
::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}
:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: "Intro-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Intro-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.main-svg-sprite {
  display: none;
}
.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}
.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}
@font-face {
  font-family: 'Intro-Book';
  src: url("../fonts/Intro-Book.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}
* {
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Intro-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}
.theme-color {
  color: ;
}
/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.visuallyhidden,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}
.visuallyhidden:active,
.screen-reader-text:active,
.visuallyhidden:focus,
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
.app-footer {
  -ms-flex: none;
      flex: none;
  background: #247eaf;
}
.app-footer__content {
  padding: 60px;
}
.app-footer .nav {
  margin-bottom: 80px;
}
.app-footer .nav__item {
  color: #fff;
  font-size: 33px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 0.17px;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.app-footer .nav__item:hover,
.app-footer .nav__item:active,
.app-footer .nav__item:focus {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  font-weight: normal;
}
.app-footer__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.app-footer .contacts {
  max-width: 445px;
  width: 100%;
}
.app-footer .footer-name {
  max-width: 590px;
  width: 100%;
}
.app-footer .footer-socials {
  max-width: 320px;
  width: 100%;
}
.app-header {
  -ms-flex: none;
      flex: none;
  background: #fff;
  padding: 37px 44px 28px;
}
.app-header__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.app-header__content .app-header__left {
  max-width: 479px;
  width: 100%;
  margin-right: 68px;
}
.app-header__right {
  -ms-flex: 1 1;
      flex: 1 1;
}
.app-header__right-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 45px;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  background: url("../img/bg-main.jpg") 0 0 repeat;
  height: calc(var(--vh, 1vh) * 100);
}
.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  max-width: 1634px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  height: calc(var(--vh, 1vh) * 100);
}
.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}
.about {
  margin-bottom: 80px;
}
.about__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 60px 20px;
  color: #68a7dd;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #fff;
}
.about__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0;
}
.about__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  max-width: 20%;
}
.about__item .about__text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.about__item .about__text,
.about__item .about__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 328px;
}
.about__item .about__text img,
.about__item .about__img img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.about__item:nth-child(2n) .about__text {
  -ms-flex-order: 1;
      order: 1;
}
.about__item:first-child .about__text {
  background: #ab2a61;
}
.about__item:nth-child(2) .about__text {
  background: #0097a4;
}
.about__item:nth-child(3) .about__text {
  background: #a4a724;
}
.about__item:nth-child(4) .about__text {
  background: #247eaf;
}
.about__item:nth-child(5) .about__text {
  background: #802783;
}
.about__text {
  padding: 10px;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
}
.about__text span {
  font-size: 30px;
  text-transform: uppercase;
}
.about.news .about__img,
.about.news .about__text {
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}
.about.news .about__item {
  -ms-flex: none;
      flex: none;
  max-width: 100%;
  cursor: pointer;
}
.about.news .about__item.first .about__text {
  background: #802783;
}
.about.news .about__item.second .about__text {
  background: #a4a724;
}
.about.news .about__item.third .about__text {
  background: #ab2a61;
}
.about.news .about__item.first .about__text,
.about.news .about__item.third .about__text {
  -ms-flex-order: 1;
      order: 1;
}
.about.news .about__text {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  line-height: 72.09px;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 545px;
}
.about.news .owl-nav.disabled,
.about.news .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
}
.about.news button {
  display: block;
}
.about.news .owl-prev span,
.about.news .owl-next span {
  position: absolute;
  font-size: 0;
  transition: border-color 0.3s ease;
}
.about.news .owl-prev span {
  width: 30px;
  height: 60px;
  border-right: solid 30px #fff;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}
.about.news .owl-prev span:hover,
.about.news .owl-prev span:active,
.about.news .owl-prev span:focus {
  border-right-color: #4470b3;
}
.about.news .owl-next span {
  right: 0;
  width: 30px;
  height: 60px;
  border-left: solid 30px #fff;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}
.about.news .owl-next span:hover,
.about.news .owl-next span:active,
.about.news .owl-next span:focus {
  border-left-color: #4470b3;
}
.b-mobile-panel {
  display: none;
  -ms-flex: none;
      flex: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.b-mobile-panel__section {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.b-mobile-panel__items {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 132px;
  padding: 10px 0px 10px 10px;
}
.b-mobile-panel__logo {
  width: 100%;
  margin-right: 4px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.b-mobile-panel__languages {
  max-width: 220px;
  width: 100%;
}
.b-mobile-panel__nav {
  width: 48px;
  height: 100%;
  -ms-flex: 0 0 48px;
      flex: 0 0 48px;
}
.b-mobile-panel__nav .b-mobile-panel__btn-burger {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 4px;
  transition: opacity 0.2s;
  background: #ddd;
  color: #5e5e5e;
  background: transparent;
  color: #5198db;
  border: 1px solid transparent;
  background-color: transparent;
  width: 48px;
  height: 100%;
  line-height: normal;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.b-mobile-panel__nav .b-mobile-panel__btn-burger:focus {
  outline: 0;
}
.b-mobile-panel__nav .top-menu__nav {
  margin-top: 0;
}
.b-mobile-panel__nav .top-menu--mobile {
  background: #efefef;
  width: 60%;
  position: absolute;
  top: 132px;
  right: auto;
  -webkit-transform: translate3d(110%, 0, 0);
          transform: translate3d(110%, 0, 0);
  padding: 30px;
  z-index: 101;
  height: 100vh;
  overflow-y: auto;
  transition: right 0.2s;
  display: block;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-overflow-scrolling: touch;
}
.b-mobile-panel__nav .top-menu--mobile.menu-is-active {
  right: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  overflow: visible;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.b-mobile-panel__nav .top-menu--mobile .nav {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
  margin-bottom: 20px;
}
.b-mobile-panel__nav .top-menu--mobile .socials {
  -ms-flex-pack: end;
      justify-content: flex-end;
  max-width: 100%;
}
.b-mobile-panel__nav .top-menu--mobile .search {
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 270px;
}
.b-mobile-panel__btn-burger {
  display: block;
  width: 25px;
  height: 21px;
  padding: 0;
  position: relative;
  border: none;
  cursor: pointer;
}
.b-mobile-panel .btn-burger-is-active {
  background-color: transparent;
}
.b-mobile-panel__overlay-menu {
  display: none;
  position: fixed;
  top: 132px;
  width: 100%;
  bottom: -5000px;
  left: 0;
  background: rgba(0,0,0,0.35);
  transition: opacity 0.3s 0.15s, visibility 0s linear 0.45s;
  transition-delay: 0s;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}
.b-mobile-panel__overlay-menu.overlay-is-active {
  display: block;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 100;
}
.b-mobile-panel__nav .top-menu--mobile .top-menu__nav-item:last-child {
  padding-left: 35px;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.05) !important;
}
body.hat_content_open {
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body.hat_content_open::-webkit-scrollbar {
  display: none;
}
.calendar {
  margin-bottom: 80px;
}
.calendar__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 60px 20px;
  color: #68a7dd;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #fff;
}
.calendar__items {
  position: relative;
  background: #fff;
}
.calendar .owl-item.active .calendar__item.first {
  background: #ab2a61;
}
.calendar .owl-item.active .calendar__item.second {
  background: #fff;
}
.calendar .owl-item.active .calendar__item.third {
  background: #247eaf;
}
.calendar .owl-item.active .calendar__item.fouth {
  background: #fff;
}
.calendar .owl-item.active .calendar__item.fifth {
  background: #802783;
}
.calendar .owl-item .calendar__item.second,
.calendar .owl-item .calendar__item.fouth {
  color: #4470b3;
}
.calendar .owl-nav.disabled,
.calendar .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
}
.calendar .owl-nav.disabled button,
.calendar .owl-nav button {
  display: block;
}
.calendar .owl-nav.disabled .owl-prev span,
.calendar .owl-nav .owl-prev span,
.calendar .owl-nav.disabled .owl-next span,
.calendar .owl-nav .owl-next span {
  position: absolute;
  font-size: 0;
  transition: border-color 0.3s ease;
}
.calendar .owl-nav.disabled .owl-prev span,
.calendar .owl-nav .owl-prev span {
  width: 30px;
  height: 60px;
  border-right: solid 30px #68a7dd;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}
.calendar .owl-nav.disabled .owl-prev span:hover,
.calendar .owl-nav .owl-prev span:hover,
.calendar .owl-nav.disabled .owl-prev span:active,
.calendar .owl-nav .owl-prev span:active,
.calendar .owl-nav.disabled .owl-prev span:focus,
.calendar .owl-nav .owl-prev span:focus {
  border-right-color: #4470b3;
}
.calendar .owl-nav.disabled .owl-next span,
.calendar .owl-nav .owl-next span {
  right: 0;
  width: 30px;
  height: 60px;
  border-left: solid 30px #68a7dd;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}
.calendar .owl-nav.disabled .owl-next span:hover,
.calendar .owl-nav .owl-next span:hover,
.calendar .owl-nav.disabled .owl-next span:active,
.calendar .owl-nav .owl-next span:active,
.calendar .owl-nav.disabled .owl-next span:focus,
.calendar .owl-nav .owl-next span:focus {
  border-left-color: #4470b3;
}
.calendar__item {
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 25px;
}
.calendar__month {
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
}
.calendar__day {
  font-size: 70px;
  font-weight: 700;
  line-height: 72px;
}
.calendar__text {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}
.contacts__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 14px;
  transition: opacity 0.3s ease;
}
.contacts__item:hover,
.contacts__item:active,
.contacts__item:focus {
  text-decoration: none;
  opacity: 0.5;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__icon {
  width: 80px;
  height: 80px;
  margin-right: 32px;
}
.contacts__icon img {
  max-width: 100%;
}
.contacts__text {
  color: #fff;
  font-size: 35px;
  font-weight: normal;
  line-height: 35px;
  text-decoration: none;
}
.contacts__text:hover,
.contacts__text:active,
.contacts__text:focus {
  text-decoration: none;
  color: #fff;
}
.footer-name {
  text-align: center;
}
.footer-name__logo {
  display: inline-block;
  margin-bottom: 32px;
  transition: opacity 0.3s ease;
}
.footer-name__logo:hover,
.footer-name__logo:active,
.footer-name__logo:focus {
  text-decoration: none;
  opacity: 0.5;
}
.footer-name__logo img {
  max-width: 100%;
}
.footer-name__text {
  margin-bottom: 25px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.58px;
  text-transform: uppercase;
}
.footer-name__year {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.58px;
  text-transform: uppercase;
}
.footer-socials__title {
  margin-bottom: 49px;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 72px;
}
.footer-socials__item {
  display: inline-block;
  margin-right: 35px;
  width: 80px;
  height: 80px;
  transition: opacity 0.3s ease;
}
.footer-socials__item:hover,
.footer-socials__item:active,
.footer-socials__item:focus {
  text-decoration: none;
  opacity: 0.5;
}
.footer-socials__item:last-child {
  margin-right: 0;
}
.footer-socials__item img {
  border-radius: 50%;
  max-width: 100%;
}
.head-video {
  position: relative;
}
.head-video__img img {
  max-width: 100%;
}
.head-video__bot {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}
.head-video__button {
  padding: 0;
  margin: 0;
  background: url("../img/top-photo-btn.png") 50% 0 no-repeat;
  background-size: 100% 100%;
  width: 271px;
  height: 68px;
  border: none;
}
.languages {
  max-width: 228px;
  width: 100%;
  height: 56px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.languages__link {
  position: relative;
  width: 56px;
  height: 56px;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  transition: background 0.3s ease, color 0.3s ease, background-size 0.3s ease;
}
.languages__link:hover,
.languages__link:active,
.languages__link:focus,
.languages__link.active {
  z-index: 5;
  text-decoration: none;
  color: #fff !important;
}
.languages .ru {
  background: url("../img/lang1.png") 0 0 no-repeat;
  background-size: 100% 100%;
  color: #dd3e89;
}
.languages .ru:hover,
.languages .ru:active,
.languages .ru:focus,
.languages .ru.active {
  background: url("../img/lang1-hov.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.languages .eng {
  background: url("../img/lang2.png") 0 0 no-repeat;
  background-size: 100% 100%;
  color: #aa2960;
}
.languages .eng:hover,
.languages .eng:active,
.languages .eng:focus,
.languages .eng.active {
  background: url("../img/lang2-hov.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.languages .fr {
  background: url("../img/lang3.png") 0 0 no-repeat;
  background-size: 100% 100%;
  color: #257daf;
}
.languages .fr:hover,
.languages .fr:active,
.languages .fr:focus,
.languages .fr.active {
  background: url("../img/lang3-hov.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.languages .ch {
  background: url("../img/lang4.png") 0 0 no-repeat;
  background-size: 100% 100%;
  color: #0096a3;
}
.languages .ch:hover,
.languages .ch:active,
.languages .ch:focus,
.languages .ch.active {
  background: url("../img/lang4-hov.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.logo-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.logo-name__logo {
  display: block;
  margin-right: 36px;
  max-width: 95px;
  height: 113px;
  width: 100%;
}
.logo-name__logo img {
  max-width: 100%;
}
.logo-name__text {
  color: #4d7dac;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
.main-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 40px;
}
.main-links__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: url("../img/main-button.png") 0 0 no-repeat;
  background-size: 100% 100%;
  max-width: 595px;
  height: 148px;
  width: 100%;
  color: #68a7dd;
  font-size: 27px;
  font-weight: 400;
  line-height: 43.97px;
  text-transform: uppercase;
  transition: color 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.main-links__item:hover,
.main-links__item:active,
.main-links__item:focus {
  text-decoration: none;
  opacity: 0.8;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.nav__item {
  margin-right: 5px;
  color: #4d7dac;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover,
.nav__item:active,
.nav__item:focus {
  text-decoration: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}
.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}
.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}
.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}
.picture {
  margin-bottom: 80px;
}
.picture__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 60px 20px;
  color: #68a7dd;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #fff;
}
.picture__img img {
  max-width: 100%;
}
.search {
  position: relative;
  max-width: 385px;
  width: 100%;
  margin-right: 10px;
}
.search input {
  border: 2px solid #3eabe1;
  outline: none;
  border-radius: 10px;
  max-width: 385px;
  width: 100%;
  height: 46px;
  padding-left: 10px;
  color: #4d7dac;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  transition: border 0.3s ease, -webkit-transform 0.3s ease;
  transition: border 0.3s ease, transform 0.3s ease;
  transition: border 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.search input::-webkit-input-placeholder {
  color: #4d7dac;
}
.search input::-moz-placeholder {
  color: #4d7dac /* Firefox 19+ */;
}
.search input:-moz-placeholder {
  color: #4d7dac /* Firefox 18- */;
}
.search input:-ms-input-placeholder {
  color: rgba(100,215,218,0.776);
}
.search input:focus {
  border-width: 3px;
}
.search input:focus+button {
  -webkit-transform: translate(0, -50%) scale(1.2);
          transform: translate(0, -50%) scale(1.2);
}
.search button {
  width: 27px;
  height: 27px;
  background: url("../img/search.png") 0 0 no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 315px;
  width: 100%;
  margin-right: 10px;
}
.socials__link {
  margin-right: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.socials__link:hover,
.socials__link:active,
.socials__link:focus {
  text-decoration: none;
  opacity: 0.5;
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__link img {
  max-width: 100%;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1640px) {
  .about.news .about__img,
  .about.news .about__text {
    min-height: 500px;
    max-height: 500px;
  }
}
@media (max-width: 1510px) {
  .about.news .about__img,
  .about.news .about__text {
    min-height: 480px;
    max-height: 480px;
  }
}
@media (max-width: 1440px) {
  .app-header__content .app-header__left {
    margin-right: 20px;
    max-width: 420px;
  }
  .about.news .about__text {
    font-size: 30px;
    line-height: 35px;
  }
  .about.news .about__img,
  .about.news .about__text {
    min-height: 450px;
    max-height: 450px;
  }
  .logo-name__logo {
    margin-right: 15px;
  }
  .logo-name__text {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1366px) {
  .app-footer .contacts {
    max-width: 30%;
  }
  .app-footer .footer-socials {
    max-width: 30%;
    text-align: right;
  }
  .about__item .about__text,
  .about__item .about__img {
    min-height: 298px;
  }
  .calendar__title {
    padding: 20px;
    text-align: center;
  }
  .contacts__icon {
    margin-right: 15px;
  }
  .contacts__icon {
    width: 40px;
    height: 40px;
  }
  .contacts__text {
    font-size: 25px;
    line-height: 25px;
  }
  .footer-name__text {
    font-size: 20px;
    line-height: 25px;
  }
  .footer-socials__title {
    margin-bottom: 10px;
  }
  .footer-socials__item {
    margin-right: 15px;
  }
  .footer-socials__item {
    width: 40px;
    height: 40px;
  }
  .picture__title {
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 1360px) {
  .about {
    margin: 0 auto 80px;
  }
  .about__title {
    padding: 20px;
    text-align: center;
  }
  .about__items {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .about__item {
    -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .about__item .about__text,
  .about__item .about__img {
    min-height: 328px;
  }
  .about.news .about__img,
  .about.news .about__text {
    min-height: 400px;
    max-height: 400px;
  }
}
@media (max-width: 1210px) {
  .app-footer .nav__item {
    font-size: 25px;
    line-height: 25px;
  }
  .app-footer .footer-name {
    max-width: 40%;
  }
  .app-header {
    padding: 20px;
  }
  .app-header__content .app-header__left {
    max-width: 320px;
  }
  .app-header__right-top {
    margin-bottom: 20px;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .about.news .about__img,
  .about.news .about__text {
    min-height: 340px;
    max-height: 340px;
  }
  .contacts__text {
    font-size: 18px;
    line-height: 18px;
  }
  .footer-socials__title {
    font-size: 25px;
    line-height: 25px;
  }
  .logo-name__text {
    font-size: 20px;
    line-height: 25px;
  }
  .nav__item {
    font-size: 18px;
  }
  .socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .socials__link {
    margin-bottom: 10px;
  }
}
@media (max-width: 1036px) {
  .socials {
    max-width: 165px;
  }
}
@media (max-width: 1024px) {
  .app-footer__content {
    padding: 30px;
  }
  .app-footer .nav {
    margin-bottom: 30px;
  }
  .app-footer .nav__item {
    font-size: 20px;
    line-height: 20px;
  }
  .about,
  .picture,
  .picture.picture--map,
  .calendar,
  .about.news {
    margin-bottom: 40px;
  }
  .about__title {
    font-size: 40px;
    line-height: 40px;
  }
  .about__item .about__text,
  .about__item .about__img {
    min-height: 268px;
  }
  .about__text {
    font-size: 20px;
    line-height: 20px;
  }
  .about__text span {
    display: block;
    margin-bottom: 10px;
  }
  .calendar__title {
    font-size: 40px;
    line-height: 40px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-name__logo {
    width: 100px;
    height: 100px;
  }
  .main-links__item {
    font-size: 20px;
    line-height: 22px;
    max-width: 400px;
  }
  .picture__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 991px) {
  .app-header {
    display: none;
  }
  .b-mobile-panel {
    display: block;
  }
}
@media (max-width: 980px) {
  .logo-name__logo {
    max-width: 55px;
    height: auto;
  }
  .main-links__item {
    font-size: 18px;
    line-height: 18px;
    max-width: 350px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .about__title {
    font-size: 35px;
    line-height: 35px;
  }
  .about__item .about__text,
  .about__item .about__img {
    min-height: 220px;
  }
  .about.news .about__text {
    font-size: 20px;
    line-height: 25px;
  }
  .about.news .about__img,
  .about.news .about__text {
    min-height: 300px;
    max-height: 300px;
  }
  .calendar__title {
    font-size: 35px;
    line-height: 35px;
  }
  .calendar__month {
    font-size: 30px;
    line-height: 30px;
  }
  .calendar__day {
    font-size: 50px;
    line-height: 50px;
  }
  .calendar__text {
    font-size: 20px;
    line-height: 20px;
  }
  .head-video__button {
    width: 170px;
    height: 40px;
  }
  .main-links {
    display: block;
    text-align: center;
    padding: 40px;
  }
  .main-links__item {
    margin: 0 auto 20px;
  }
  .main-links__item:last-child {
    margin-bottom: 0;
  }
  .picture__title {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 767px) {
  .app-footer .nav {
    display: none;
  }
  .app-footer__bot {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .app-footer .footer-name {
    -ms-flex-order: -1;
        order: -1;
  }
  .app-footer .contacts,
  .app-footer .footer-name,
  .app-footer .footer-socials {
    max-width: 40%;
    margin: 0 auto 20px;
    text-align: center;
  }
  .app-footer .contacts {
    max-width: 30%;
  }
  .about,
  .picture,
  .picture.picture--map,
  .calendar,
  .about.news {
    margin-bottom: 20px;
  }
  .contacts__item {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .app-footer .contacts {
    max-width: 50%;
  }
}
@media (max-width: 570px) {
  .b-mobile-panel__logo {
    margin-right: 10px;
  }
  .b-mobile-panel__languages {
    max-width: 100%;
  }
  .b-mobile-panel__nav .top-menu--mobile {
    padding: 30px 20px;
  }
  .languages {
    max-width: 100%;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .languages__link {
    width: 40px;
    height: 40px;
  }
  .logo-name__logo {
    margin-right: 10px;
  }
  .logo-name__text {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 500px) {
  .app-footer .contacts,
  .app-footer .footer-name,
  .app-footer .footer-socials {
    max-width: 60%;
  }
  .about__item {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .head-video__button {
    width: 140px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .about__title {
    font-size: 28px;
    line-height: 28px;
  }
  .b-mobile-panel__items {
    height: 82px;
  }
  .b-mobile-panel__nav .top-menu--mobile {
    top: 82px;
  }
  .b-mobile-panel__overlay-menu {
    top: 82px;
  }
  .calendar__title {
    font-size: 28px;
    line-height: 28px;
  }
  .head-video__bot {
    bottom: 5px;
  }
  .head-video__button {
    width: 100px;
    height: 20px;
  }
  .logo-name__logo {
    max-width: 40px;
  }
  .main-links {
    padding: 20px;
  }
  .main-links__item {
    font-size: 16px;
    line-height: 16px;
    max-width: 300px;
    height: 80px;
  }
  .picture__title {
    font-size: 28px;
    line-height: 28px;
  }
  .search input {
    height: 30px;
  }
  .search button {
    width: 20px;
    height: 20px;
  }
  .socials__link {
    width: 30px;
    height: 30px;
    display: block;
  }
}
@media (max-width: 430px) {
  .b-mobile-panel__nav .top-menu--mobile {
    width: 80%;
  }
  .languages__link {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }
  .logo-name__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .app-footer .contacts,
  .app-footer .footer-name,
  .app-footer .footer-socials {
    max-width: 80%;
  }
  .about__items {
    display: block;
  }
  .about__item {
    max-width: 100%;
  }
  .about__item:nth-child(2n) .about__text {
    -ms-flex-order: 0;
        order: 0;
  }
  .about.news .about__img,
  .about.news .about__text {
    min-height: 250px;
    max-height: 250px;
  }
  .contacts__item {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
@media (max-width: 374px) {
  .logo-name__logo {
    margin-right: 4px;
  }
  .logo-name__text {
    font-size: 11px;
    line-height: 14px;
    word-break: break-word;
  }
}
