<div block="footer-socials">
	<div elem="title">
		Follow us
	</div><!-- e:title -->
	<div elem="items">
		<a href="#" elem="item">
			<img src="img/foot-soc1.png" />
		</a><!-- e:item -->
		<a href="#" elem="item">
			<img src="img/foot-soc2.png" />
		</a><!-- e:item -->
		<a href="#" elem="item">
			<img src="img/foot-soc3.png" />
		</a><!-- e:item -->
	</div><!-- e:items -->
</div><!-- footer-socials -->
