.footer-socials

  &__title
    margin-bottom 49px
    color #ffffff
    font-size 36px
    font-weight 400
    line-height 72px

    @media (max-width 1366px)
      margin-bottom 10px

    @media (max-width 1210px)
      font-size 25px
      line-height 25px

  &__item
    display inline-block
    margin-right 35px
    width 80px
    height 80px
    transition opacity .3s ease

    @media (max-width 1366px)
      margin-right 15px

    @media (max-width 1366px)
      width 40px
      height 40px

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity 0.5

    &:last-child
      margin-right 0

    img
      border-radius 50%
      max-width 100%
