<div block="head-video">
	<div elem="img">
		<img src="img/top-photo.png" />
	</div><!-- e:img -->
	<div elem="bot">
		<button elem="button"></button><!-- e:button -->
	</div><!-- e:bot -->
</div><!-- head-video -->
