.head-video
  position relative

  &__img
    img
      max-width 100%

  &__bot
    position absolute
    bottom 15px
    left 0
    right 0
    text-align center
    font-size 0

    @media (max-width 480px)
      bottom 5px

  &__button
    padding 0
    margin 0
    background url('../img/top-photo-btn.png') 50% 0 no-repeat
    background-size 100% 100%
    width 271px
    height 68px
    border none

    @media (max-width 768px)
      width 170px
      height 40px

    @media (max-width 500px)
      width 140px
      height 30px

    @media (max-width 480px)
      width 100px
      height 20px
