.app-footer
  flex none
  background #247eaf

  &__content
    padding 60px

    @media (max-width 1024px)
      padding 30px

  .nav
    margin-bottom 80px

    @media (max-width 1024px)
      margin-bottom 30px

    @media (max-width 767px)
      display none

  .nav__item
    color #ffffff
    font-size 33px
    font-weight 400
    line-height 33px
    text-transform uppercase
    letter-spacing 0.17px
    transition opacity .3s ease, transform .3s ease

    @media (max-width 1210px)
      font-size 25px
      line-height 25px

    @media (max-width 1024px)
      font-size 20px
      line-height 20px

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity .5
      transform scale(1.05)
      font-weight normal

  &__bot
    display flex
    align-items flex-end
    justify-content space-between

    @media (max-width 767px)
      flex-direction column

  .contacts
    max-width 445px
    width 100%

    @media (max-width 1366px)
      max-width 30%

  .footer-name
    max-width 590px
    width 100%

    @media (max-width 1210px)
      max-width 40%

    @media (max-width 767px)
      order -1

  .footer-socials
    max-width 320px
    width 100%

    @media (max-width 1366px)
      max-width 30%
      text-align right

  .contacts,
  .footer-name,
  .footer-socials
    @media (max-width 767px)
      max-width 40%
      margin 0 auto 20px
      text-align center

    @media (max-width 500px)
      max-width 60%

    @media (max-width 375px)
      max-width 80%

  .contacts
    @media (max-width 767px)
      max-width 30%

    @media (max-width 600px)
      max-width 50%

