<footer block="app-footer">
    <div elem="content">
        <div elem="top">
			{% include "nav.html" %}
		</div><!-- e:top -->
		<div elem="bot">
			{% include "contacts.html" %}
			{% include "footer-name.html" %}
			{% include "footer-socials.html" %}
		</div><!-- e:bot -->
    </div><!-- app-footer__content -->
</footer><!-- app-footer -->
