.contacts

  &__item
    display flex
    align-items center
    margin-bottom 14px
    transition opacity .3s ease

    @media (max-width 767px)
      justify-content space-between

    @media (max-width 375px)
      justify-content flex-start

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity 0.5

    &:last-child
      margin-bottom 0

  &__icon
    width 80px
    height 80px
    margin-right 32px

    @media (max-width 1366px)
      margin-right 15px

    @media (max-width 1366px)
      width 40px
      height 40px

    img
      max-width 100%

  &__text
    color #ffffff
    font-size 35px
    font-weight normal
    line-height 35px
    text-decoration none

    @media (max-width 1366px)
      font-size 25px
      line-height 25px

    @media (max-width 1210px)
      font-size 18px
      line-height 18px

    @media (max-width 1024px)
      font-size 16px
      line-height 16px

    &:hover,
    &:active,
    &:focus
      text-decoration none
      color #ffffff
