<div block="contacts">
	<div elem="item">
		<div elem="icon">
			<img src="img/cont-icon1.png" />
		</div><!-- e:icon -->
		<a href="https://goo.gl/maps/gVzbPhATaV92bwZ48" elem="text" target="_blank">
			Псков, пл. Ленина, 2
		</a><!-- e:text -->
	</div><!-- e:item -->
	<div elem="item">
		<div elem="icon">
			<img src="img/cont-icon2.png" />
		</div><!-- e:icon -->
		<a href="tel:+78112297000" elem="text">
			+7(8112) 29-70-00
		</a><!-- e:text -->
	</div><!-- e:item -->
	<div elem="item">
		<div elem="icon">
			<img src="img/cont-icon3.png" />
		</div><!-- e:icon -->
		<a href="mailto:info@pskgu.ru" elem="text">
			info@pskgu.ru
		</a><!-- e:text -->
	</div><!-- e:item -->
</div><!-- contacts -->
