<div block="about" class="news">
	<div elem="items" class="about-news owl-carousel">
		<div elem="item" class="first">
			<div elem="text">
				<div>
					День <br />
					открытых <br />
					дверей
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about-news1.jpg" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item" class="second">
			<div elem="text">
				<div>
					События <br />
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about-news2.jpg" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item" class="third">
			<div elem="text">
				<div>
					Международный <br />
					молодежный <br />
					форум
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about-news3.jpg" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item" class="second">
			<div elem="text">
				<div>
					События <br />
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about-news2.jpg" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
	</div><!-- e:items -->
</div><!-- about -->
