<div block="about">
	<div elem="title">
		ПсковГУ: На стыке традиций и инноваций
	</div><!-- e:title -->
	<div elem="items">
		<div elem="item">
			<div elem="text">
				<div>
					<span>ТОП 100</span><br />
					в рейтинге <br />
					Интерфакс по <br />
					интернационализации
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about1.png" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item">
			<div elem="text">
				<div>
					<span>1 место</span> <br />
					в конкурсе <br />
					по внедрению <br />
					профессиональных <br />
					стандартов
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about2.png" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item">
			<div elem="text">
				<div>
					<span>Более 100</span> <br />
					образовательных <br />
					программ
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about3.png" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item">
			<div elem="text">
				<div>
					<span>Развитая</span> <br />
					тьюторская <br />
					деятельность <br />
					университета
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about4.png" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
		<div elem="item">
			<div elem="text">
				<div>
					<span>Кураторы</span>  <br />
					образовательных <br />
					программ — эксперты <br />
					мирового уровня
				</div>
			</div><!-- e:text -->
			<div elem="img">
				<img src="img/about5.png" alt="" />
			</div><!-- e:img -->
		</div><!-- e:item -->
	</div><!-- e:items -->
</div><!-- about -->
