.about
  margin-bottom 80px

  @media (max-width 1360px)
    // max-width 85%
    margin 0 auto 80px

  &__title
    display flex
    align-items center
    justify-content center
    padding 60px 20px
    color #68a7dd
    font-size 48px
    font-weight 700
    line-height normal
    text-transform uppercase
    background #fff

    @media (max-width 1360px)
      padding 20px
      text-align center

    @media (max-width 1024px)
      font-size 40px
      line-height 40px

    @media (max-width 768px)
      font-size 35px
      line-height 35px

    @media (max-width 480px)
      font-size 28px
      line-height 28px

  &__items
    display flex
    flex-wrap wrap
    font-size 0

    @media (max-width 1360px)
      justify-content center

    @media (max-width 375px)
      display block

  &__item
    display flex
    flex-direction column
    flex 0 0 20%
    max-width 20%

    @media (max-width 1360px)
      flex 0 0 33.3%
      max-width 33.3%

    @media (max-width 500px)
      flex 0 0 50%
      max-width 50%

    @media (max-width 375px)
      max-width 100%

    .about__text
      display flex
      align-items center
      justify-content center

    .about__text,
    .about__img
      width 100%
      height 100%
      max-width 100%
      min-height 328px

      @media (max-width 1366px)
        min-height 298px

      @media (max-width 1360px)
        min-height 328px

      @media (max-width 1024px)
        min-height 268px

      @media (max-width 768px)
        min-height 220px

      img
        max-width 100%
        height 100%
        width 100%

    &:nth-child(2n) .about__text
      order 1

      @media (max-width 375px)
        order 0

    &:first-child .about__text
      background #ab2a61
    &:nth-child(2) .about__text
      background #0097a4
    &:nth-child(3) .about__text
      background #a4a724
    &:nth-child(4) .about__text
      background #247eaf
    &:nth-child(5) .about__text
      background #802783

  &__text
    padding 10px
    color #ffffff
    font-size 26px
    font-weight 400
    line-height 40px
    font-size 25px
    text-align center

    @media (max-width 1024px)
      font-size 20px
      line-height 20px

    span
      font-size 30px
      text-transform uppercase

      @media (max-width 1024px)
        display block
        margin-bottom 10px

  &.news

    .about__img,
    .about__text
      overflow hidden !important

    .about__item
      flex none
      max-width 100%
      cursor pointer

    .about__item.first .about__text
      background #802783

    .about__item.second .about__text
      background #a4a724

    .about__item.third .about__text
      background #ab2a61

    .about__item.first .about__text,
    .about__item.third .about__text
      order 1

    .about__text
      color #ffffff
      font-size 44px
      font-weight 400
      line-height 72.09px
      text-transform uppercase
      font-weight bold
      min-height 545px

      @media (max-width 1440px)
        font-size 30px
        line-height 35px

      @media (max-width 768px)
        font-size 20px
        line-height 25px

    .about__img,
    .about__text
      @media (max-width 1640px)
        min-height 500px
        max-height 500px

      @media (max-width 1510px)
        min-height 480px
        max-height 480px

      @media (max-width 1440px)
        min-height 450px
        max-height 450px

      @media (max-width 1360px)
        min-height 400px
        max-height 400px

      @media (max-width 1210px)
        min-height 340px
        max-height 340px

      @media (max-width 768px)
        min-height 300px
        max-height 300px

      @media (max-width 375px)
        min-height 250px
        max-height 250px

    .owl-nav.disabled,
    .owl-nav
      position absolute
      top 50%
      margin-top -30px
      left 0
      right 0
      z-index 5
      display block

    button
      display block

    .owl-prev span,
    .owl-next span
      position absolute
      font-size 0
      transition border-color .3s ease

    .owl-prev span
      width 30px
      height 60px
      border-right solid 30px #fff
      border-bottom solid 30px transparent
      border-top solid 30px transparent

      &:hover,
      &:active,
      &:focus
        border-right-color #4470b3

    .owl-next span
      right 0
      width 30px
      height 60px
      border-left solid 30px #fff
      border-bottom solid 30px transparent
      border-top solid 30px transparent

      &:hover,
      &:active,
      &:focus
        border-left-color #4470b3
