.socials
  display flex
  align-items center
  justify-content space-between
  max-width 315px
  width 100%
  margin-right 10px
  @media (max-width: 1210px)
    flex-wrap wrap
    // max-width 165px
    justify-content flex-start

  @media (max-width: 1036px)
    max-width 165px

  &__link
    margin-right 10px
    opacity 1
    transition opacity .3s ease

    @media (max-width: 1210px)
      margin-bottom 10px

    @media (max-width 480px)
      width 30px
      height 30px
      display block

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity 0.5
    &:last-child
      margin-right 0

    img
      max-width 100%
