<div block="socials">
	<a href="#" elem="link">
		<img src="img/soc1.png" />
	</a><!-- e:link -->
	<a href="#" elem="link">
		<img src="img/soc2.png" />
	</a><!-- e:link -->
	<a href="#" elem="link">
		<img src="img/soc3.png" />
	</a><!-- e:link -->
	<a href="#" elem="link">
		<img src="img/soc4.png" />
	</a><!-- e:link -->
	<a href="#" elem="link">
		<img src="img/soc5.png" />
	</a><!-- e:link -->
</div><!-- socials -->
