<div block="picture">
	<div elem="title">
		Псков — сердце России на пороге в Европу
	</div><!-- e:title -->
	<div elem="img">
		<img src="img/picture1.jpg" />
	</div><!-- e:img -->
</div><!-- picture -->
