.picture
  margin-bottom 80px
  &__title
    display flex
    align-items center
    justify-content center
    padding 60px 20px
    color #68a7dd
    font-size 48px
    font-weight 700
    line-height normal
    text-transform uppercase
    background #fff

    @media (max-width 1366px)
      padding 20px
      text-align center

    @media (max-width 1024px)
      font-size 40px
      line-height 40px

    @media (max-width 768px)
      font-size 35px
      line-height 35px

    @media (max-width 480px)
      font-size 28px
      line-height 28px

  &__img
    img
      max-width 100%
