.search
  position relative
  max-width 385px
  width 100%
  margin-right 10px

  input
    border 2px solid #3eabe1
    outline none
    border-radius 10px
    max-width 385px
    width 100%
    height 46px
    padding-left 10px
    color #4d7dac
    font-size 18px
    font-weight 400
    text-transform uppercase
    letter-spacing 0.22px
    transition border .3s ease, transform .3s ease

    @media (max-width 480px)
      height 30px

    &::-webkit-input-placeholder
      color #4d7dac
    &::-moz-placeholder
      color #4d7dac/* Firefox 19+ */
    &:-moz-placeholder
      color #4d7dac/* Firefox 18- */
    &:-ms-input-placeholder
      color #64d7dac6

    &:focus
      border-width 3px

      &+button
        transform translate(0, -50%) scale(1.2)

  button
    width 27px
    height 27px
    background url('../img/search.png') 0 0 no-repeat
    background-size cover
    border none
    padding 0
    margin 0
    position absolute
    top 50%
    right 12px
    transform translate(0, -50%)
    transition transform .3s ease

    @media (max-width 480px)
      width 20px
      height 20px
