<div block="nav">
	<a href="#" elem="item">
		Главная
	</a><!-- e:item -->
	<a href="#" elem="item">
		Программы
	</a><!-- e:item -->
	<a href="#" elem="item">
		Абитуриенту
	</a><!-- e:item -->
	<a href="#" elem="item">
		Студенту
	</a><!-- e:item -->
	<a href="#" elem="item">
		FAQ
	</a><!-- e:item -->
	<a href="#" elem="item">
		Контакты
	</a><!-- e:item -->
</div><!-- nav -->
