.nav
  display flex
  align-items center
  justify-content space-between
  &__item
    margin-right 5px
    color #4d7dac
    font-size 22px
    font-weight 400
    text-transform uppercase
    letter-spacing 0.22px
    transition transform .3s ease

    @media (max-width: 1210px)
      font-size 18px

    &:last-child
      margin-right 0

    &:hover,
    &:active,
    &:focus
      text-decoration none
      transform scale(1.05)
