html,
body
  margin 0
  padding 0

html
  min-height 100%
  min-height 100vh

.app
  display flex
  flex-direction column
  height 100%
  height 100vh
  background url('../img/bg-main.jpg') 0 0 repeat
  // background-size cover

  &__wrapper
    display flex
    flex-direction column
    height 100%
    height 100vh
    max-width 1634px
    width 100%
    margin 0 auto
    padding 20px 0

  &__content
    display flex
    flex 1 0 auto

  &__main
    flex 1

.about,
.picture,
.picture.picture--map,
.calendar,
.about.news
  @media (max-width 1024px)
    margin-bottom 40px

  @media (max-width 767px)
    margin-bottom 20px
