.footer-name
  text-align center
  &__logo
    display inline-block
    margin-bottom 32px
    transition opacity .3s ease

    @media (max-width 1024px)
      width 100px
      height 100px

    &:hover,
    &:active,
    &:focus
      text-decoration none
      opacity .5

    img
      max-width 100%

  &__text
    margin-bottom 25px
    color #ffffff
    font-size 24px
    font-weight 400
    line-height 33.58px
    text-transform uppercase

    @media (max-width 1366px)
      font-size 20px
      line-height 25px

  &__year
    color #ffffff
    font-size 24px
    font-weight 400
    line-height 33.58px
    text-transform uppercase
