<div block="footer-name">
	<a href="#" elem="logo">
		<img src="img/logo-bot.png" />
	</a><!-- e:logo -->
	<div elem="text">
		Псковский государственный университет
	</div><!-- e:text -->
	<div elem="year">
		©2020
	</div><!-- e:year -->
</div><!-- footer-name -->
